snippet docClass
/** 
* $1
*
* ${1:Description : }
*
* PHP version 7

* @category $2
* @package  $3
* @date     $4
* @author   G Clair <godefroy.clair@gmail.com>
* @license  http://opensource.org/licenses/gpl-license.php GNU Public License
* @link     $5
* @version  $6
*/
$0
endsnippet

snippet docFunction
/**
* $1
*
* @param $2 $$3 $4
* 
* @return $5void
*/
$0
endsnippet
