[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = http://github.com/gmarik/vundle.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
